*, *::before, *::after {
  box-sizing: border-box;
}

.site {
  border: 4px solid black;
  background-color: snow;
  margin: 15px;
  padding: 15px;
  text-align: center;
}

.header {
  text-align:
}

.homepage-pics {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.homepage {
  height: 150px;
}

.image-header {
  text-align: center;
}

.accomodations {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  justify-content: center;
}

.accomodations ol {
  padding: none;
  margin: none;
}

.accomodations li img {
  height: 125px;
}

/* .accomodations li h3 {
  padding-left: 15px;
}

.accomodations li h3:even {
  padding-left: 25px;
} */

body {
  width: 90%;
}

img {
  margin-left: 15px;
}
